/*
	https://teejaecalinao.github.io/charles-sample/
	Colors
	https://mycolor.space/
	https://colorhunt.co/
	https://color.adobe.com/create/color-wheel

	Images
	https://pixabay.com/
	https://unsplash.com/
	https://www.pexels.com/

	Icons and Illustrations
	https://www.freepik.com/
	https://shape.so/
	https://storyset.com/
	https://coolors.co/
	https://michalsnik.github.io/aos/

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

#home {
  background-image: url(./images/background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;  
  opacity: 0.9;
}


#projects {
	background: #f5f5f5;
	padding: 0px !important;
}

.title {
		color: #444649;    
    font-size: 4rem;
    position: relative;
    position: relative;
}

.title-2 {
    color: #04c2c9;
    font-weight: 600;
}

.highlight {
	/*color: #e31b6d;*/
	font-size: 50px;
	/*-webkit-text-stroke:  1px #fff;*/
	color: transparent;
	background-image: linear-gradient(#e31b6d,#fff);
	background-repeat: no-repeat;
	-webkit-background-clip:  text;
	background-position: -450px 0;
	animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
	100% {
		background-position: 0 0;
	}
}

.copyright {
	font-size: 12px;
}

li {
	margin: 10px;
}

div ul a {
	color: #fff;
	font-size: 16px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -1px;
	align-items: center;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}




